body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Pokemon Details */
.pkm-image-panel {
    background-color: lightgray;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
}

.pkm-image-inner {
    background-color: white;
    padding: 15px;
}

.pkm-image {
    width: 300px;
}

.stat-boosted {
    color: red;
    font-weight: bold;
}

.stat-lowered {
    color: blue;
    font-weight: bold;
}

.stat-normal {
    color: black;
    font-weight: bold;
}

.trainer-male {
    color:blue;
}

.trainer-female {
    color: magenta;
}

.stat-table {
    border-collapse: collapse;
}

.stat-table, .stat-table th, .stat-table td {
    border: 1px solid black;
    padding: 3px;
}

thead {
    font-weight: bold;
}